.header-banner {
    height: 128px;
    background: url('../images/banner.png') no-repeat bottom center;

    .region-header {
        clear: none;
        float: right;

        #block-search-form {
            margin-top: 10px;

        }
    }

    input[type="text"] {
        border: none;
        line-height: 28px;
        width: 238px;
        color: #999;
        font-size: 14px;
    }

    input[type="submit"] {
        border: none;
        text-indent: -9999px;
        background: url('../images/search.png') no-repeat center;
        line-height: 29px;
        height: 31px;
        width: 40px;
    }

    .header__name-and-slogan {
        text-indent: -9999px;
    }
}
