#main-menu {
    width: 100%;
    background: #fff;

    ul {
        display: block;
        font-size: 0;
    }
}

#main-menu li {
    padding: 0 !important;
    margin: 0;
    float: none;
    display: inline-block;

    &.active a.active{
        border: none;
    }
}

#main-menu li a {
    width: 142px;
    height: 0;
    padding-top: 38px;
    overflow: hidden;
    display: block;
    text-align: center;
    background: #1d2754;
    text-decoration: none;
    color: #fff;
}

#main-menu li a:hover,#main-menu li.active a,#main-menu li.active-trail a {
    background-color: #E2E1E6;
}

// #main-menu li:nth-child() a {
//     width: 109px;
// }

#main-menu li.first a {
    border-left: 0;
}

#main-menu li.last a {
    border-right: 0;
}

#main-menu li:nth-child(1) a {
    background: url('../images/nav-sprite.png') 0px 0px no-repeat;
    width: 110px;

    &:hover {
        background-position: 0 -42px;
    }

    &.active,
    &.active-trail {
        background-position: 0 -84px;
    }
}


#main-menu li:nth-child(2) a {
    background: url('../images/nav-sprite.png') -110px 0px no-repeat;

    &:hover {
        background-position: -110px -42px;
    }

    &.active,
    &.active-trail {
        background-position: -110px -84px;
    }
}


#main-menu li:nth-child(3) a {
    background: url('../images/nav-sprite.png') -252px 0px no-repeat;

    &:hover {
        background-position: -252px -42px;
    }

    &.active,
    &.active-trail {
        background-position: -252px -84px;
    }
}


#main-menu li:nth-child(4) a {
    background: url('../images/nav-sprite.png') -394px 0px no-repeat;

    &:hover {
        background-position: -394px -42px;
    }

    &.active,
    &.active-trail {
        background-position: -394px -84px;
    }
}


#main-menu li:nth-child(5) a {
    background: url('../images/nav-sprite.png') -536px 0px no-repeat;

    &:hover {
        background-position: -536px -42px;
    }

    &.active,
    &.active-trail {
        background-position: -536px -84px;
    }
}


#main-menu li:nth-child(6) a {
    background: url('../images/nav-sprite.png') -678px 0px no-repeat;

    &:hover {
        background-position: -678px -42px;
    }

    &.active,
    &.active-trail {
        background-position: -678px -84px;
    }
}


#main-menu li:nth-child(7) a {
    background: url('../images/nav-sprite.png') -820px 0px no-repeat;
    width: 140px;

    &:hover {
        background-position: -820px -42px;
    }

    &.active,
    &.active-trail {
        background-position: -820px -84px;
    }
}

