.block-title,#navigation #main-menu {
    display: none;
}

.block-superfish
  {

    margin: 0;
    padding: 0;
    background: rgb(94, 106, 113);
    height: 50px;

    *
    {
      text-decoration: none; 
    }

      
    li.active-trail 
    {
     background:white ;
     color:#595C5E; 
    a 
    {
        color: #0099CC !important;
    }

     &:hover
     {
      color: white;
     }


    }

    ul li.menuparent:nth-child(1)
    {
      margin-left: 0px;
    }

      li 
        {
          background: none repeat scroll 0 0 #D1D4D3;
          font-size: 1.3em;
          margin-left: 6px;
          text-align: center;
          width: 24.53%;
          padding:0px !important;

          &.sf-depth-1
          {
            margin-top:5px;
           .active-trail > a
              {
                color: #0099CC !important ;
              }
          }
          &:hover , &a:hover
          {
            color:white !important;
          }
          a
          {
            padding:12px;
            color: white;
            width: 100% !important;
          }
          a.sf-depth-1 
          {
            color: #595C5E;
          }
        }

      .menuparent ul 
        {
          margin:7px 0px;
          font-size:11px;
          background:#0099CC;

          li a , li
          {
          background:#0099CC;
          }
        }

      .sf-main-menu 
      {
        ul,a
        {
        width: 100% !important;
        }

        li a:hover  
        {
        background:#0099CC;
        }
      
       li.menuparent 
       {
          position: relative;
          &.last:hover ul ul
        {
          left: -100% !important;
          top:3px !important;

          a
          {
            margin-left:-6px !important;
            margin-top: 0px !important;
          }
        }
        &.sf-depth-2:after , a.sf-depth-3:before
        {
          content: "" !important;
          padding-right:0px !important;
        }
        &:after 
        {
          content: '\e800';
            position: absolute;
            right: 11px;
            top: 21%;
            font-family: "fontello";
            font-size: 1.5em;
            color: #595C5E;
        }
        
        &:hover 
        {
          &:after 
          {
            content: '\e801';  
            font-family: "fontello";
            font-size: 1.5em;
            top: 21%;
            position: absolute;
            color:white;
          }
          a 
          {
            color: white !important;
            background : #0099CC;
          }
        }
      }


    li.sf-depth-2 
    {
      margin-left: 0px;
      a
      {
        text-align: left;
        margin-top:10px;

        &:before 
        {
          content: '\e802';
          font-size: 1.2em;
          font-family: "fontello";
          padding-left : 6%;
          padding-right : 12%;
        }
        &:hover 
        {
          color: #595C5E !important;
          background : #D1D4D3;
        }
      }
      .sf-hidden li a
        {
          overflow: hidden !important;
        }
    }
    
    .sf-depth-1 > ul
    {
      overflow: visible !important;
    }

    li.sf-depth-2 .menuparent:hover ul
    {
      position: absolute;
      top: 2px !important;
      left: 100% !important;
      
      a
      {
       width: auto !important;
       margin-left: -5.5px;
       margin-top:0px !important;

      }
    }

  } // sf-menu 

} // block-superfish




// ///////////////////////////////////////////////
.block-superfish .sf-menu-5 
{
  li{
    width:19.50%;

    &.sf-depth-2
    {
      width: 100% !important;
      &.menuparent:hover ul
      {
        left:100% !important;
        margin-top:19px;
      }
    }
    &.sf-depth-3  , &.sf-depth-3  a
    {
      margin-top:0px !important;
    }

  }

}
