// Top Navigation
.region-navigation-top {
    clear: both;
    overflow: hidden;
    margin-top: 1.2em;

    #block-menu-menu-about-menu {
        float: left;
        margin-bottom:  0.55em;

        ul {
            padding-left: 0;
            margin: 0;
            list-style: none;
        }

        li {
            float: left;
            list-style: none;
        } a {
            font-size: 12px;
            color: #1D2754;
            padding: 0 6px;

            &:hover {
                color: #39f;
                text-decoration: none;
            }
        }
    }

    #block-system-user-menu {
        @extend #block-menu-menu-about-menu;
        float: right;

        li {
            &:last-child {
                background: url('../images/rss.png') no-repeat;
                height: 24px;
                width: 24px;

                a {
                    color: transparent;
                }
            }
        }
    }
}

