.section-business,
.section-education,
.section-health,
.section-law,
.section-life,
.section-government {

    .pane-term-description {
        .pane-title {
            text-indent: -9999px;
            margin-left: -0.5em;
            margin-bottom: 10px;
            line-height: 1;
        }

        p {
        }
    }
}

.section-business {
    .pane-term-description {
        .pane-title {
            background: url('../images/about_business.png') no-repeat;
        }
    }

}

.section-education {
    .pane-term-description {
        .pane-title {
            background: url('../images/about_education.png') no-repeat;
        }
    }

}

.section-health {
    .pane-term-description {
        .pane-title {
            background: url('../images/about_health.png') no-repeat;
        }
    }

}

.section-law {
    .pane-term-description {
        .pane-title {
            background: url('../images/about_law.png') no-repeat;
        }
    }

}

.section-life {
    .pane-term-description {
        .pane-title {
            background: url('../images/about_life.png') no-repeat;
        }
    }

}

.section-government {
    .pane-term-description {
        .pane-title {
            background: url('../images/about_government.png') no-repeat;
        }
    }

}

