.pane-node-comments {
    .pane-title {
        font-size: 18px;
        line-height: 1.3;
        font-weight: bold;
        margin-top: 20px;
        float: none;

        &:after {
            content: '';
        }
    }

    .permalink {
        display: none;
    }

    dd {
        margin: 0;
    }

    .links {
        float: right;
    }

    .submitted {
        margin: 0;
    }
}

.pane-node-comment-form {
    margin-top: 2em;
}

.workflow-form-container {
    .views-field-edit-node {
        display: none;
    }

    .form-submit {
        float: right;
    }
}
