.pane-node-comments {
    .pane-title {
        font-size: 18px;
        line-height: 1.3;
        font-weight: bold;
        margin-top: 20px;
        float: none;

        &:after {
            content: '';
        }
    }
}

.pane-node-comment-form {
    margin-top: 2em;
}
