* {
    box-sizing: border-box;
}
body {
    line-height: 1.4;
    font-size: 0.75em;
    color: #333;
}

a {
    color:  #0066cc;

    &:hover {
        color:  #3399ff;
    }
}
#content .burr-flipped-content  img {
    border: 1px solid #C2C0C1;
}

