.ui-datepicker-calendar {
    .ui-state-default {
        border: 1px solid transparent;
    }

    .ui-state-hover {
        border: 1px solid #999999;
        background: #ffffff;
        font-weight: normal;
        color: #333333;
    }
}
