#content {
    background: url(../images/osdc_page_background.jpg) no-repeat 10px 0;
    padding: 2em;
}
.burr-flipped-content {
        width: 545px;
        margin-right: 1em;
        @extend .box-wrapper;
}
.burr-flipped-content-inner {
        width: 520px;
}
.burr-flipped-sidebar {
        width: 375px;
        padding-left: 1.8em;
        .pane-menu-monthly-favorites {
                h2.pane-title{
                    @extend .image-title;
                    background: url(../images/osdc_nameplate_Monthlyfavorites.png) no-repeat;
                    margin: 0;
                }
                ul.menu {
                    padding-left: 20px;
                    li {
                        padding-bottom: 8px;
                        a {
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }
        }
}