.burr-flipped-sidebar .pane-block{
    background: #FFF;
    padding: 1em;
    padding-right: 0;
    margin-bottom: 1.5em;
}

.burr-flipped-sidebar .pane-menu-menu-opensource-resources-homepa {
  margin-bottom: 0;
  padding-bottom: 0;
}
