// Article page Main Column
.box-wrapper {
    border: 1px solid #cdcbca;
    background: #fff;
    padding: 1em;
    box-shadow: 2px 2px 3px #cdcbca;
    margin-bottom: 1.5em;
}
.box-wrapper p {
    margin: 0;
    br {
        display:  none;
    }
}
.burr-flipped-content {
    width: 545px;
    margin-right: 1em;
    @extend .box-wrapper;
}
.burr-flipped-content-inner {
    width: 520px;
}
.burr-flipped-sidebar {
    width: 375px;
    padding-left: 1.8em;
}