// Article page Main Column

.burr-flipped-content-inner {
    margin-right: 20px;
    border: 1px solid #cdcbca;
    box-shadow: 2px 2px 3px #cdcbca;
    box-sizing: border-box;
    width: 520px;
    padding: 1em;
}