// Article page Main Column
.image-title {
      text-indent: -9999px;
      overflow: hidden;
       display: block;
       line-height: 17px;
}
.box-wrapper {
    border: 1px solid #cdcbca;
    background: #fff;
    padding: 1em;
    box-shadow: 2px 2px 3px #cdcbca;
    margin-bottom: 1.5em;
}
.box-wrapper p {
    margin: 0;
    br {
        display:  none;
    }
}
.article-title {
    font-size: 24px;
    font-weight: bold;
}
.node-type-article {
    .view-author-info {
        .views-field-field-user-picture {
            float: left;
            margin-right: 1em;
        }
        .views-field-nothing {
            text-align: right;
            a {
                text-decoration: none;
            }
        }
    }
    .pane-menu-menu-monthly-favorites {
        h2.pane-title{
            @extend .image-title;
            background: url(../images/osdc_nameplate_Monthlyfavorites.png) no-repeat;
            margin: 0;
        }
        ul.menu {
            padding-left: 20px;
            li {
                padding-bottom: 8px;
                a {
                    color: #000;
                    text-decoration: none;
                }
            }
        }
    }
    .burr-flipped-content {
        width: 545px;
        margin-right: 1em;
        @extend .box-wrapper;
    }
    .burr-flipped-content-inner {
        width: 520px;
    }
    .burr-flipped-sidebar {
        width: 375px;
        padding-left: 1.8em;
    }
    div.author-feed {
        p:first-child {
            float: left;
            margin-right: 3px;
        }
        span.author-feed {
            float:left;
            width: 15px;
            a {
                background: url(../images/rss.jpg) no-repeat;
                text-indent: -9999px;
                overflow: hidden;
                display: block;
          }
        }
    }
    .pane-node-field-rating {
        float: right;
    }
    .pane-node-field-lead-image {
        display: inline-block;
    }
    .image-credits {
        font-size: 10px;
        color: #999;
        margin: 1em 0;
        font-style: italic;
    }
    #content .pane-related-articles-panel-pane-1 {
        h2.pane-title {
            @extend .image-title;
            background: url(../images/osdc_nameplate_Relatedcontent.png) no-repeat;
            margin-bottom: 8px;
        }
        .view-related-articles {
            .views-field-title {
                margin-top: 5px;
                a {
                    text-decoration: none;
                    color: #000;
                    &:hover {
                        text-decoration: underline;
                        color:  #3399ff;
                    }
                }
            }
        }
    }
    #content .pane-node-field-tags {
        margin: 1em 0;
        h2.pane-title {
            margin: 0;
            font-size: 12px;
            font-weight: normal;
            margin-right: 1em;
            float: left;
        }
        .field-items .field-item {
            display: inline-block;
            margin-top: 5px;
            margin-right: 1.5em;
         }
    }
    .signup-email {
        .form-item-C-EmailAddress {
            float: left;
            width: 65%;
            margin-right: 1em;
        }
        .signup-email-title {
            @extend .image-title;
            background: url(../images/email-signup.png) no-repeat;
        }
        #edit-c-emailaddress {
            height: 3em;
            width: 100%;
            border: 1px solid #ccc;
        }
        .form-submit {           
            background: #1D2754;
            border: 0;
            padding: 0.75em;
            font-size: 14px;
            color: #fff;
        }
    }
}
