#quicktabs-homepage_tabs {
    li.first {
        background: url(../images/osdc_featured_active.png)no-repeat;
        &.active {
             background: url(../images/osdc_featured_inactive.png)no-repeat;
        }
    }
     li.last{
        background: url(../images/osdc_mostpopular_active.png)no-repeat !important;
        &.active {
             background: url(../images/osdc_mostpopular_inactive.png)no-repeat !important;
        }
    }
    li:nth-child(2){
        background: url(../images/osdc_mostcomments_active.png)no-repeat;
        &.active {
             background: url(../images/osdc_mostcomments_inactive.png)no-repeat;
        }
    }
    li a{ 
            color: transparent;
            padding: 1em;
    }
}

#quicktabs-container-homepage_tabs  .view-homepage {
        .views-row {    
            border-bottom: 2px dotted #ccc;
            padding-bottom: 1em;
            margin-bottom: 1em;
        }
        .views-field-field-lead-image {
            float: left;
            margin-right: 1em;
        }
        .views-field-nothing, .views-field-nothing a {
            color: #676768;
        }
        .views-field-title a {
            font-size: 18px;
            text-decoration: none;
            color: #000;
            font-weight: bold;
            &:hover {
                color: #3399ff;
                text-decoration: underline;
            }
        }
}

.view-poll-homepage {
    h2.node-title {
        font-size: 12px;
        font-weight: normal;
        a {
            text-decoration: none;
            color: #000;
        }
    }
    .poll .vote-form {
        text-align: right;
    }
    .poll .vote-form .choices {
        margin: 1px;
    }
    .form-item.form-type-radio.form-item-choice {
        margin: 9px 0;
    }
}