#quicktabs-homepage_tabs {
    ul {
        padding: 0;
        clear: both;
        overflow: hidden;
    }

    .ajax-progress-throbber {
        position: absolute;
        top: 4px;
        right: 2px;
    }

}

#quicktabs-homepage_tabs .item-list {

    li {
        background-position: center !important;
        border-right: 1px solid #ccc;
        width: 33.33%;
        float: left;
        display: block;
        position: relative;
    }

    li.first {
        background: url(../images/osdc_featured_active.png)no-repeat;

        &.active {
           background: url(../images/osdc_featured_inactive.png)no-repeat;
       }
   }
   li.last{
    background: url(../images/osdc_mostpopular_active.png)no-repeat;
    border-right: none;

    &.active {
       background: url(../images/osdc_mostpopular_inactive.png)no-repeat;
   }
}
li:nth-child(2){
    background: url(../images/osdc_mostcomments_active.png)no-repeat;

    &.active {
       background: url(../images/osdc_mostcomments_inactive.png)no-repeat;
   }
}
li a{
    color: transparent;
    padding: 0.25em 1em 0;
    display: block;
}
}

#quicktabs-container-homepage_tabs  .view-homepage {
    .views-row {
        border-bottom: 2px dotted #ccc;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }
    .views-field-field-lead-image {
        float: left;
        margin-right: 1em;
    }
    .views-field-nothing, .views-field-nothing a {
        color: #676768;
    }
    .views-field-title a {
        font-size: 18px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        &:hover {
            color: #3399ff;
            text-decoration: underline;
        }
    }

    .views-field-nothing-1 {
        float: right;
        width: 60%;
        margin-bottom: 18px;
    }

    .views-field-created {
        clear: right;
    }
}

.view-poll-homepage, .view-poll-block{
    h2.node-title {
        font-size: 12px;
        font-weight: normal;
        a {
            text-decoration: none;
            color: #000;
        }
    }
    .poll .vote-form {
        text-align: right;
    }
    .poll .vote-form .choices {
        margin: 1px;
    }
    .form-item.form-type-radio.form-item-choice {
        margin: 9px 0;
    }
}

.pane-menu-menu-opensource-resources-homepa  {
    h2 {
       font-size: 22px;
       color: #DD3823;
       margin: 0;
       font-weight: normal;
   }
   ul {
    padding-left: 8px;
    li {
        list-style-image: none !important;
        list-style-type: none !important;
    }
    a {
        margin-bottom: 0.75em;
        width: 100%;
        display: inline-block;
        padding: 1em;
    }
}
}

.teaser-info {

    .teaser-comment {
        background: transparent url(../images/comment.jpg) no-repeat scroll left top;
        padding-left: 20px;
        border-right: 1px solid #767677;
        margin-right: 10px;
        padding-right: 10px;

        a {
            color: #39f;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .teaser-date {
        color: #767677;
    }

    .teaser-author {
        margin-left: 0.5em;

        .username {
            margin-right: 5px;
        }

        a {
            color: #39f;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .author-feed {
        display: inline-block;

        a {
            background: url(../images/rss.jpg) no-repeat;
            text-indent: -9999px;
            overflow: hidden;
            display: block;
            width: 12px;
            height: 13px;
        }
    }

}

.view-display-id-panel_pane_recent {
    .views-row {
        clear: both;
        overflow: hidden;
    }

    .teaser-channel {
        color: #676768;

        a {
            color: #676768;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .teaser-channel-article {
        a {
            color: #676768;
        }
    }

    .teaser-title {
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;

        a {
            text-decoration: none;
            color: #333;

            &:hover {
                color: #39f;
                text-decoration: underline;
            }
        }
    }

    .views-more-link {
        font-weight: bold;
        color: #39f;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
