/* $Id: navigation.css,v 1.3 2009/08/12 22:17:26 johnalbin Exp $ */

/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navbar {
}

#navbar-inner {
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
  width: 100%;
  background: #fff;
}

#main-menu li {
  padding: 0;
  margin: 0;
}

#main-menu li a {
  width: 168px;
  height: 0;
  padding-top: 49px;
  overflow: hidden;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  display: block;
  text-align: center;
  background: #1d2754;
  border-bottom: 3px solid #fff;
  text-decoration: none;
  color: #fff;
}

#main-menu li a:hover,
#main-menu li.active a,
#main-menu li.active-trail a {
  border-left: 1px solid #E2E1E6;
  border-right: 1px solid #E2E1E6;
  border-bottom: 3px solid #E2E1E6;
  background: #E2E1E6;
}

#main-menu li.menu-3796 a {
  width: 110px;
}

#main-menu li.first a {
  border-left: 0;
}

#main-menu li.last a {
  border-right: 0;
}

#secondary-menu {
}

/* Main Menu Sprites */

/* The Open (homepage link) */
#main-menu li.menu-3796 a {
  background: url(../images/osdc_nav_sprite.jpg) 0px 0px no-repeat;
}

#main-menu li.menu-3796 a:hover {
  background-position: 0 -52px;
}

#main-menu li.menu-3796 a.active,
#main-menu li.menu-3796 a.active-trail {
  background-position: 0 -104px;
}

/* The Business Link */
#main-menu li.menu-3091 a {
  background: url(../images/osdc_nav_sprite.jpg) -112px 0px no-repeat;
}

#main-menu li.menu-3091 a:hover {
  background-position: -112px -52px;
}

#main-menu li.menu-3091 a.active,
#main-menu li.menu-3091 a.active-trail {
  background-position: -112px -104px;
}

/* Education */
#main-menu li.menu-4196 a {
  background: url(../images/osdc_nav_sprite.jpg) -282px 0px no-repeat;
}

#main-menu li.menu-4196 a:hover {
  background-position: -282px -52px;
}

#main-menu li.menu-4196 a.active,
#main-menu li.menu-4196 a.active-trail {
  background-position: -282px -104px;
}

/* Government */
#main-menu li.menu-4591 a {
  background: url(../images/osdc_nav_sprite.jpg) -452px 0px no-repeat;
}

#main-menu li.menu-4591 a:hover {
  background-position: -452px -52px;
}

#main-menu li.menu-4591 a.active,
#main-menu li.menu-4591 a.active-trail {
  background-position: -452px -104px;
}

/* Law */
#main-menu li.menu-4206 a {
  background: url(../images/osdc_nav_sprite.jpg) -622px 0px no-repeat;
}

#main-menu li.menu-4206 a:hover {
  background-position: -622px -52px;
}

#main-menu li.menu-4206 a.active,
#main-menu li.menu-4206 a.active-trail {
  background-position: -622px -104px;
}

/* Life */
#main-menu li.menu-4221 a {
  background: url(../images/osdc_nav_sprite.jpg) -792px 0px no-repeat;
}

#main-menu li.menu-4221 a:hover {
  background-position: -792px -52px;
}

#main-menu li.menu-4221 a.active,
#main-menu li.menu-4221 a.active-trail {
  background-position: -792px -104px;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}
