/* $Id: nodes.css,v 1.4 2009/08/14 06:31:11 johnalbin Exp $ */

/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node,
#comments /* Node wrapper */ {
  line-height: 1.4em;
  font-family: font-family: Georgia, "Bitstream Vera Serif", "Times New Roman", serif;
  color: #333;
}

/* Node links have different formatting from the rest of the page. */
.node a:link,
#comments a:links {
  color: #oo66cc;
}

.node a:visited,
#comments a:visited {
  color: #6699cc;
}

.node a:hover,
.node a:focus,
#comments a:hover,
#comments a:focus {
  color: #3399ff;
}

.node a:active,
#comments a:active {
  color: #oo66cc;
}

.node caption,
#comments caption {
  font-size: 10px;
  color: #999;
  font-style: italic;
}

.node-inner /* Additional wrapper for node */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-mine /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}

.node h2.title /* Node title */ {
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node .picture /* The picture of the node author */ {
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */ {
}

.node .submitted /* The "posted by" information */ {
}

.node .terms /* Node terms (taxonomy) */ {
}

.node .content /* Node's content wrapper */ {
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node-type-channel #content-header h1 {
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.view-og-ghp-ron .node h2 {
  margin-top: 0;
}

.article-comment-count {
  padding-right: 10px;
  display: block;
  margin-right: 10px;
  float: left;
  border-right: 1px solid #7b7b7c;
}

.article-author-info {
  float: left;
  display: block;
}

.article-node-link {
  float: right;
}

.article-author-feed {
  width: 12px;
  height: 13px;
  display: block;
  background: url(../images/rss.jpg);
  float: right;
  margin-left: 5px;
}