.profile
{
  overflow:hidden;
}

.profile .picture 
{
  float:left;
  margin:0 1em 1em 0;
}

.section-users h1.title
{
  
}

.section-users div.tabs
{
  
}

.section-users ul.tabs
{
  
}

.section-users ul.tabs li
{
  
}

.section-users ul.tabs li a
{
  
}
