.profile
{
  overflow:hidden;
}

.profile .picture 
{
  float:left;
  margin:0 1em 1em 0;
}

.section-users #content-inner
{
  padding-top:0;
}

.section-users #content-header
{
  overflow:hidden;
  margin-bottom:20px;
  border-bottom:1px solid grey;
}

.section-users h1.title
{
  float:left;
}

.section-users div.tabs
{
  float:right;
  margin:0;
}

.section-users ul.tabs
{
  background:none;
  
}

.section-users ul.tabs li
{
  
}

.section-users ul.tabs li a
{
  background:none;
  height:auto;
}

.section-users ul.tabs li a:hover
{
  background:none;
}

.section-users ul.tabs li a .tab
{
  background:none;
  padding:10px 13px 10px 6px;
}

.section-users ul.tabs li a:hover .tab
{
  background:none;

}
