/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */

/**
 * @file
 * Views Styling
 */

.views-row
{
  overflow:hidden /* clear all our floats inside each views row */
}

/*
 * Global fields
 */
.views-field-group-nid
{
  
}

.views-field-type
{
  
}

.views-field-field-image-imceimage-path
{
  
}

.views-field-title 
{
  font-weight:bold;
}

.views-field-teaser
{
  
}

.views-field-comment-count
{
  
}

.views-field-created
{
  
}

.views-field-name
{
  
}

/*
 * Homepage views
 */
.view-homepage .views-field-title
{
  font-size:24px; /* temporary */
  line-height:28px; /* temporary */
}

.view-homepage .views-field-comment-count,
.view-homepage .views-field-created,
.view-homepage .views-field-name
{
  display:inline;
}

/*
 * Attached view for secondary articles
 */
.view-homepage .attachment h3
{
  background:transparent url(../images/osdc_dot4x4.png) repeat-x scroll center bottom;
  color:#999999;
  display:inline;
  font-size:10px;
  padding-bottom:5px;
  text-transform:uppercase;
}

.view-homepage .attachment .row-wrapper
{
  padding:20px;
}

.view-homepage .attachment .views-row /* on the homepage attached view provide space and border after every row */
{
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom:1px dotted #CBCCCB; 
}

.view-homepage .attachment .views-row-first
{

}

.view-homepage .attachment .views-row-last
{
  padding-bottom:0;
  margin-bottom:0;
  border-bottom:none;
}

.view-homepage .attachment .views-field-title
{
  font-size:18px;
  line-height:20px;
}

.view-homepage .attachment .views-field-field-image-imceimage-path
{
  float:right;
  margin-left:20px;
}

