/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */

/**
 * @file
 * Views Styling
 */

.views-row /* ALL view row will have this style */
{
  overflow:hidden; /* clear all our floats inside each views row */
}

/*
 * Global fields
 */
.views-field-group-nid
{

}

.views-field-group-nid a
{
  text-decoration:none;  
}

.views-field-type
{
  
}

.views-field-field-image-imceimage-path
{
  float:right;
  margin-left:10px;
  margin-bottom:10px;
}

.views-field-title 
{
  font-weight:bold;
}

.views-field-teaser
{
  
}

.views-field-comment-count
{
  
}

.views-field-created
{
  
}

.views-field-name
{
  
}

.views-field-group-nid,
.views-field-type,
.views-field-comment-count,
.views-field-created,
.views-field-name
{
  display:inline;
  color:#767677;
}

/*
 * Homepage views
 */
.view-homepage .views-field-title
{
  font-size:24px; /* temporary */
  line-height:28px; /* temporary */
}

.view-homepage .article-author-feed
{
  float:none;
  display:inline-block;
  vertical-align:middle;  
}

.view-homepage .views-field-group-nid,
.view-homepage .views-field-group-nid a,
.view-homepage .views-field-type
{
  color:#676768;
}

.view-homepage .views-field-comment-count
{
  background:transparent url(../images/icon-comments.png) no-repeat scroll left top;
  padding-left:20px;
  border-right:1px solid #767677;
  margin-right:10px;
  padding-right:5px;
}

.view-homepage .views-field-view-node 
{
  float: right;
}

.view-homepage .views-field-view-node a
{
  color:#5993CE
}

/*
 * Attached view for secondary articles
 */
.view-homepage .attachment h3
{
  background:transparent url(../images/osdc_dot4x4.png) repeat-x scroll center bottom;
  color:#999999;
  display:inline;
  font-size:10px;
  padding-bottom:5px;
  text-transform:uppercase;
}

.view-homepage .attachment .row-wrapper
{
  padding:20px;
}

.view-homepage .attachment .views-row /* on the homepage attached view provide space and border after every row */
{
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom:1px dotted #CBCCCB; 
}

.view-homepage .attachment .views-row-first
{

}

.view-homepage .attachment .views-row-last
{
  padding-bottom:0;
  margin-bottom:0;
  border-bottom:none;
}

.view-homepage .attachment .views-field-title
{
  font-size:18px;
  line-height:20px;
}

.view-homepage .attachment .views-field-field-image-imceimage-path
{
  float:right;
  margin-left:20px;
}

.block .view-id-featured_comment .views-field-name,
.block .view-id-featured_comment .views-field-timestamp {
  float: left;
  color: #797979;
  margin-top: 10px;
}

.block .view-id-featured_comment .views-field-name {
  margin-right: 5px;
}

.block .view-id-featured_comment .views-field-view-comment {
  margin-top: 10px;
  float: right;
}
/* Articles */
.view-articles .views-row /* on the homepage attached view provide space and border after every row */
{
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom:1px dotted #CBCCCB; 
}

.view-homepage .views-field-title
{
  font-size:18px; /* temporary */
  line-height:28px; /* temporary */
}





