/* $Id: blocks.css,v 1.2 2009/08/12 08:03:52 johnalbin Exp $ */

/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1em;
}

.block ul {
  padding-left: 1.5em;
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block-inner /* Additional wrapper for block */ {
  height : 100%;
}

#sidebar-second .block {
  padding-left: 17px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.block h2.title /* Block title */ {
}

#sidebar-second .block h2.title /* Block title */ {
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  background: url(../images/osdc_dot4x4.png) bottom repeat-x;
  display: inline;
  padding-bottom: 5px;
}

#sidebar-second .block .block-inner-right-shadow {
  background: #ffffff url(../images/top-right-shadow.jpg) right top no-repeat;
}

#sidebar-second .block .block-inner-bottom-shadow {
  background: url(../images/block-bottom-shadow.jpg) center bottom no-repeat;
}

#sidebar-second .block .block-inner {
  padding: 15px;
  margin-bottom: 3px;
  margin-right: 2px;
  border-top: 1px solid #cdcbca;
  border-left: 1px solid #cdcbca;
}

.block .content /* Block's content wrapper */ {
  margin-top: 10px;
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */ {
}

#block-comments-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-primary-links /* "Primary links" block */ {
}

#block-menu-secondary-links /* "Secondary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page's author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
}

#block-user-3 /* "Who's online" block for a list of the online users */ {
}

#block-views-channel_header-block_1 {
  margin-top: 13px;
  margin-left: 13px;
}

#block-views-channel_description-block_1 p {
  margin: 0;
  padding: 0;
}

.channel-about-link {
  text-align: right;
}

#block-views-channel_reading-block_1 .content{
  color: #797979;
  font-weight: bold;
}

#block-views-channel_reading-block_1 .views-row,
#block-views-latest_articles-block_1 .views-row,
#block-views-editors_picks-block_1 .views-row {
  overflow: visible;
}

#block-views-channel_reading-block_1 .views-field-field-url-url,
#block-views-channel_reading-block_1 .views-field-title,
#block-views-latest_articles-block_1 .views-field-title,
#block-views-editors_picks-block_1 .views-field-title,
#block-quicktabs-1 .views-field-title {
  display: inline;
}

#block-views-channel_reading-block_1 div.views-field-comment-count {
  float: none;
}

.reading-comment-count a {
  color: #0066CC;
  font-weight: normal;
}

.block .view-id-channel_Poll .form-submit,
.block .view-id-site_homepage_poll .form-submit {
  float: right;
}

#block-views-channel_Poll-block_1 .content,
#block-views-channel_Poll-block_1 .content h2,
#block-views-channel_Poll-block_2 .content,
#block-views-channel_Poll-block_2 .content h2,
#block-views-site_homepage_poll-block_1 .content,
#block-views-site_homepage_poll-block_1 .content h2,
#block-views-channel_description-block_1 .content,
#block-views-author_info-block_1 .content {
  margin-top: 0;
}

#block-views-site_homepage_poll-block_1 .content {
  padding-top: 0;
}

#sidebar-second .vote-form .choices {
  width: 100%;
}

#block-views-author_info-block_1 .views-field-picture {
  margin: 0 10px 0 0;
  float: left;
}

#block-views-author_info-block_1 .views-field-value {
  float: none;
}

#block-views-author_info-block_1 .views-field-value p {
  margin: 0;
}

#block-views-author_info-block_1 .views-field-nothing {
  float: right;
}

#block-views-author_info-block_1 .views-field-nothing a {
  color:#3399FF;
}

#footer .block {
  float: left;
  margin-bottom: 0;
}

#footer #block-menu-menu-footer ul {
  padding-left: 15px;
}

#footer #block-menu-menu-footer ul li {
  display: inline;
  list-style-image: none;
  list-style-type: none;
  padding-right: 10px;
  border-right: 1px solid #797979;
  margin-right: 10px;
  line-height:inherit;
}

#block-block-1,
#footer #block-block-11 {
  width: 960px;
}

#footer #block-block-1 .content,
#footer #block-block-11 .content {
  margin: 0 15px;
}

#sidebar-second #block-menu-menu-about-more,
#sidebar-second #block-views-channel_description-block_1 {
  padding-left: 17px;
  padding-bottom: 0;
}

#sidebar-second #block-menu-menu-about-more h2.title /* Block title */ {
  background-image: none;
  display: block;
  padding: 18px 0 5px 3px;
}

#sidebar-second #block-views-channel_description-block_1 h2.title /* Block title */ {
  display: block;
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  color: #e7321f;
  margin-top: 18px;
  margin-bottom: 6px;
}

/* Nameplate about block images */
#sidebar-second .nameplate-should-be h2.title {
  height: 0;
  overflow: hidden;
  width: 242px;
  padding-top: 17px;
  padding-bottom: 0;
  background: transparent url(../images/what_should_osdc_be_nameplate.png) no-repeat;
}

#sidebar-second .nameplate-business h2.title {
  height: 0;
  overflow: hidden;
  width: 158px;
  padding-top: 17px;
  padding-bottom: 0;
  background: transparent url(../images/about_business.png) no-repeat;
}

#sidebar-second .nameplate-education h2.title {
  height: 0;
  overflow: hidden;
  width: 166px;
  padding-top: 17px;
  padding-bottom: 0;
  background: transparent url(../images/about_education.png) no-repeat;
}

#sidebar-second .nameplate-government h2.title {
  height: 0;
  overflow: hidden;
  width: 183px;
  padding-top: 17px;
  padding-bottom: 0;
  background: transparent url(../images/about_government.png) no-repeat;
}

#sidebar-second .nameplate-law h2.title {
  height: 0;
  overflow: hidden;
  width: 124px;
  padding-top: 17px;
  padding-bottom: 0;
  background: transparent url(../images/about_law.png) no-repeat;
}

#sidebar-second .nameplate-life h2.title {
  height: 0;
  overflow: hidden;
  width: 122px;
  padding-top: 17px;
  padding-bottom: 0;
  background: transparent url(../images/about_life.png) no-repeat;
}

#sidebar-second #block-menu-menu-about-more h2.title img {
  vertical-align: bottom;
}

#sidebar-second #block-menu-menu-about-more .block-inner-right-shadow,
#sidebar-second #block-menu-menu-about-more .block-inner-bottom-shadow,
#sidebar-second #block-views-channel_description-block_1 .block-inner-right-shadow,
#sidebar-second #block-views-channel_description-block_1 .block-inner-bottom-shadow {
  background-image: none;
  background-color: transparent;
}

#sidebar-second #block-menu-menu-about-more .block-inner,
#sidebar-second #block-views-channel_description-block_1 .block-inner {
  padding: 0;
  margin-bottom: 3px;
  margin-right: 2px;
  border-top: 0;
  border-left: 0;
}

#sidebar-second #block-menu-menu-about-more .block-inner .content,
#sidebar-second #block-views-channel_description-block_1 .block-inner .content {
  margin-top: 4px;
  padding: 0 15px 13px 16px;
}

#block-menu-menu-about-more ul {
  margin: 0;
}

#block-menu-menu-about-more li {
  list-style-image: none;
  list-style-type: disc;
}

.block .view-twitter-listing .views-field-created-time {
  float: left;
  margin-top: 10px;
  color: #666666;
}

.block .view-twitter-listing .views-field-screen-name {
  float: right;
  margin-top: 10px;
}

#sidebar-second #block-views-twitter_listing-block_1 h2.title {
  width: 177px;
  display: block;
  position: relative;
}

#sidebar-second #block-views-twitter_listing-block_1 h2.title .twitter-logo {
  width: 58px;
  display: block;
  height: 0;
  padding-top: 11px;
  overflow: hidden;
  background: url(../images/twitter-logo.jpg) right no-repeat;
  background-position: top right;
  position: absolute;
  right: 0;
  top: 0;
}

#block-block-6 {
  width: 185px;
}

#block-block-6 .find-us-text {
  display: block;
  float: left;
}

/* The Quicktabs Block of Most Popular/Latest/Editors Picks */
#sidebar-second #block-quicktabs-1 .block-inner {
  padding: 0;
  border: 0;
}

#block-quicktabs-1 .quicktabs_main.quicktabs-style-basic {
  padding: 15px;
  border-color: #CDCBCA;
  border-right: none;
  border-bottom: none;
}

#block-quicktabs-1 ul li {
  overflow: visible;
}

#block-quicktabs-1 .views-field-group-nid a:link,
#block-quicktabs-1 .views-field-group-nid a:visited,
#block-quicktabs-1 .views-field-group-nid a:hover {
  color: #767677;
}

#block-quicktabs-1 #block-popular-popular {
  padding: 0;
  background: none;
}

#block-quicktabs-1 .content {
  margin-top: 0;
}

#block-quicktabs-1 ul.quicktabs_tabs.quicktabs-style-basic {
  height: 0;
  padding-right: 0;
}

#block-quicktabs-1 ul.quicktabs_tabs.quicktabs-style-basic li {
  margin-right: 0;
  border-right: none;
  border-bottom: 1px solid #CDCBCA;
  display: block;
  width: 106px;
  float: left;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#block-quicktabs-1 ul.quicktabs_tabs.quicktabs-style-basic li.first {
  width: 108px;
}

#block-quicktabs-1 ul.quicktabs_tabs.quicktabs-style-basic li.last {
  float: right;
  width: 109px;
}

#block-quicktabs-1 ul.quicktabs_tabs.quicktabs-style-basic li.active,
#block-quicktabs-1 ul.quicktabs_tabs.quicktabs-style-basic li,
#block-quicktabs-1 ul.quicktabs_tabs.quicktabs-style-basic {
  border-color: #CDCBCA;
}

#block-quicktabs-1 ul.quicktabs_tabs.quicktabs-style-basic li.active {
  border-bottom: 1px solid #fff;
}

#quicktabs_container_1 ol,
#quicktabs_container_1 ul {
  margin: 0;
}

#block-quicktabs-1 ul.quicktabs_tabs.quicktabs-style-basic li a {
  color: #c1c0b3;
}

#block-quicktabs-1 ul.quicktabs_tabs.quicktabs-style-basic li.active a {
  color: #666666;
}
