.pane-menu-menu-opensource-resources {
    a {
        display: block;
    }

    ul {
        padding-left: 0;
    }

   li {
        list-style: none !important;
        margin-bottom: 10px;
    }
}
