.pane-menu-menu-opensource-resources {

    .pane-title {
        color: #DD3823;
        font-size: 22px;
        font-weight: normal;
    }

    a {
        display: block;
    }

    ul {
        padding-left: 0;
    }

   li {
        list-style: none !important;
        margin-bottom: 10px;
    }
}
