.pane-channel-articles-panel-pane-popular-articles {
    .pane-title {
        background: url('../images/osdc_nameplate_Mostactive.png') no-repeat;
        text-indent: -9999px;
        overflow: hidden;
        display: block;
        line-height: 17px;
    }

    ul {
        padding-left: 18px;

       .views-field-title {
            font-size: 12px !important;
            margin-bottom: 0 !important;
        }

        .views-row {
            padding: 0 !important;
            margin: 4px 0 !important;

        }
    }
}
