.node-type-resource {
    #page-title {
        display: none;
    }

    .pane-node-body {
        img {
            margin: 8px;
        }

        h2 {
            margin-bottom: 12px;
        }

        h3 {
            font-size: 16px;
            line-height: 1.3em;
            margin-top: 0.769em;
            margin-bottom: 0.769em;
        }

    }
    .pane-os-core-opensource-article-share {
        text-align: center;
        padding: 1em 0;
    }
}

.pane-menu-opensource-resources {
    li {
        list-style: none !important;
        margin-bottom: 10px;

        a {
            display: block;
        }
    }
}

