.badge-wrapper,
.pane-contributor-spotlight-panel-pane-promoted {
    @extend .box-wrapper;

    .views-row {
        clear: both;
        overflow: hidden;
     }

    h2 {
        background: url("../images/osdc_contributor_spotlight.png") no-repeat scroll center bottom transparent;
        display: block;
        font-size: 0;
        height: 17px;
        padding-bottom: 0px;
        text-indent: -10000em;
        width: 288px;
        margin-bottom: 10px;
    }

    a {
        color: #39f;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .views-field-user-badges-html {
        float: left;

        .badge-visual {

            .user-pic {
                margin-bottom: 5px;
            }

            img {
                border: 1px solid #C2C0C1;
                display: block;
            }
        }

    }

    .views-field-field-community-description {
        float: right;
        width: 65%;
    }
}

.view-contributor-spotlight,
.badge-archive {
    @extend .badge-wrapper;

    .user-name {
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;

        a {
            color: black;

            &:hover {
                color: #39f;
                text-decoration: none;
            }
        }
    }

    .views-row {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-bottom: 1.5em;
        border-bottom: 2px dotted rgb(179, 179, 179)
    }

    .views-field-field-community-description {
        width: 75%;
    }
}
